doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel='icon', href='/static/favicon.ico', type='image/x-icon')
  body
    block content
